HOST=                           # string
DATABASE_TYPE=                  # redis|sqlite|mongo|postgres|mock
SECURE_MODE=                    # true|false

# ACCESS_TOKEN_SECRET_KEY=      # string
ACCESS_TOKEN_COST=              # int, typically 12-15
DEFAULT_TOKEN_TIMEOUT_SECONDS=  # int

DEFAULT_ADMIN_USERNAME=         # string
DEFAULT_ADMIN_PASSKEY=          # string

# REDIS_HOST=                   # string
# REDIS_PASSWORD=               # string