CONDUCTOR_HOST=                   # string
CONDUCTOR_DATABASE_TYPE=          # redis|sqlite|mongo|postgres|mock
CONDUCTOR_SECURE_MODE=            # true|false

CONDUCTOR_ACCESS_TOKEN_SECRET=    # string
CONDCUTOR_ACCESS_TOKEN_COST=      # int 4-18
CONDUCTOR_DEFAULT_TOKEN_TIMEOUT=  # int, seconds

CONDUCTOR_DEFAULT_ADMIN_USERNAME= # string
CONDUCTOR_DEFAULT_ADMIN_PASSKEY=  # string

CONDUCTOR_REDIS_HOST=             # string
CONDUCTOR_REDIS_PASSWORD=         # string